extend page

block meta
  meta(property="description" content=desc.text)

  meta(name="og:url"         content=site.site_url + url)
  if (image)
    meta(name="og:image"     content=image)
  meta(name="og:title"       content="О проекте #{site.title}")
  meta(name="og:description" content=desc.text)

block headerTitle
  span.hidden-xs
    a(href="/")= underhood.name
    br.visible-sm
    small.hidden-sm &nbsp;&middot;&nbsp;
  small= title

block content
  article.container
    .content
      != content.html
