extend page

block meta
  meta(name="og:title"        content="Архив недели " + author.username + " в " + site.title )
  meta(name="og:url"          content=site.site_url + author.username + "/")
  meta(name="og:image"        content=site.site_url + author.media.image.replace('./', ''))
  meta(property="description" content=author.tweets[0].text)
  meta(name="og:description"  content=author.tweets[0].text)

block headerTitle
  span.hidden-xs
    a(href="/")= underhood.name

block content
  .author-page
    .author-wrapper(style=author.media.banner ? "background-image: url(" + author.media.banner.replace('./', '/') + ");" : "background: #ffefba; background: -webkit-linear-gradient(to bottom, #ffffff, #ffefba);background: linear-gradient(to bottom, #ffffff, #ffefba);")
      span.container
        span.author
          span.author__userpic(style=author.media.image ? "background-image: url(" + author.media.image.replace('./', '/') + ");" : "background: #0F2027; background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027); background: linear-gradient(to top, #2C5364, #203A43, #0F2027);")
          span.author__info
            span.author__headline.small
              = helpers.authorRender.d(author.tweets[0].created_at)
              != " &ndash; "
              = helpers.authorRender.d(author.tweets[author.tweets.length - 1].created_at)
            h1.author__username
              = "@" + author.username
              a.small(href="https://twitter.com/" + author.username)
                span.glyphicon.glyphicon-new-window
            if author.info.location
              span.small
                span.glyphicon.glyphicon-map-marker
                = " " + author.info.location

    .content
      article.container
        .row
          .col-md-8.col-sm-12.col-xs-12
            each weekday in helpers.authorRender.prepareTweets(author.tweets)
              - var weekdayName = helpers.authorRender.weekday(weekday.weekday);

              .tweets(id=weekday.weekday)
                .tweets--header.clearfix.text-right
                  .tweets--weekday.pull-left.text-left
                    span.tweets--date
                      = helpers.authorRender.d(weekday.weekday)
                    span.h2
                      = helpers.authorRender.capitalize(weekdayName)
                  .tweets--num.text-muted
                    = helpers.authorRender.tweetsUnit(weekday.tweets.length)

                each tweet in weekday.tweets
                  - var isRetweet = !!tweet.retweeted_status;
                  - var isQuoted = !!tweet.quoted_status;

                  .tweet(class=isQuoted ? 'tweet--is-quoted' : '')
                    a.tweet__time(href=helpers.authorRender.tweetLink(tweet))= helpers.authorRender.tweetTime(tweet)

                    if isRetweet
                      - var retweetedUser = tweet.entities.user_mentions[0].screen_name;

                      blockquote
                        p
                          != helpers.authorRender.render(tweet.retweeted_status)

                          footer
                            a.text-muted(href="https://twitter.com/" + retweetedUser)
                              = "@" + retweetedUser

                          if tweet.retweeted_status.extended_entities && tweet.retweeted_status.extended_entities.media
                            .carousel.slide(id='media-' + tweet.retweeted_status.id_str, 'data-ride'='carousel', 'data-interval'='false')
                              .carousel-inner
                                each image, i in tweet.retweeted_status.extended_entities.media
                                  .item(class=(i === 0 ? 'active' : ''))
                                    img.img-responsive(src=image.media_url_https)

                              if tweet.retweeted_status.extended_entities.media.length > 1
                                a.left.carousel-control(href='#media-' + tweet.retweeted_status.id_str, 'data-slide'='prev')
                                  span.glyphicon.glyphicon-chevron-left
                                a.right.carousel-control(href='#media-' + tweet.retweeted_status.id_str, 'data-slide'='next')
                                  span.glyphicon.glyphicon-chevron-right

                        if tweet.retweeted_status.entities.urls
                          each url in tweet.retweeted_status.entities.urls
                            != helpers.authorRender.renderVideo(url.expanded_url)

                    else if isQuoted
                      - var quotedUser = helpers.authorRender.getQuotedUser(tweet);

                      blockquote
                        p
                          != helpers.authorRender.render(tweet.quoted_status)

                          footer
                            a.text-muted(href="https://twitter.com/" + quotedUser)
                              = "@" + quotedUser

                          if tweet.quoted_status.extended_entities && tweet.quoted_status.extended_entities.media
                            .carousel.slide(id='media-' + tweet.quoted_status.id_str, 'data-ride'='carousel', 'data-interval'='false')
                              .carousel-inner
                                each image, i in tweet.quoted_status.extended_entities.media
                                  .item(class=(i === 0 ? 'active' : ''))
                                    img.img-responsive(src=image.media_url_https)

                              if tweet.quoted_status.extended_entities.media.length > 1
                                a.left.carousel-control(href='#media-' + tweet.quoted_status.id_str, role='button', 'data-slide'='prev')
                                  span.glyphicon.glyphicon-chevron-left
                                a.right.carousel-control(href='#media-' + tweet.quoted_status.id_str, role='button', 'data-slide'='next')
                                  span.glyphicon.glyphicon-chevron-right

                        if tweet.quoted_status.entities.urls
                          each url in tweet.quoted_status.entities.urls
                            != helpers.authorRender.renderVideo(url.expanded_url)

                      p
                        != helpers.authorRender.render(tweet)

                        if tweet.extended_entities && tweet.extended_entities.media
                          .carousel.slide(id='media-' + tweet.id_str, 'data-ride'='carousel', 'data-interval'='false')
                            .carousel-inner
                              each image, i in tweet.extended_entities.media
                                .item(class=(i === 0 ? 'active' : ''))
                                  img.img-responsive(src=image.media_url_https)

                            if tweet.extended_entities.media.length > 1
                              a.left.carousel-control(href='#media-' + tweet.id_str, role='button', 'data-slide'='prev')
                                span.glyphicon.glyphicon-chevron-left
                              a.right.carousel-control(href='#media-' + tweet.id_str, role='button', 'data-slide'='next')
                                span.glyphicon.glyphicon-chevron-right

                      if tweet.entities.urls
                        each url in tweet.entities.urls
                          != helpers.authorRender.renderVideo(url.expanded_url)
                    else
                      p
                        != helpers.authorRender.render(tweet)

                        if tweet.extended_entities && tweet.extended_entities.media
                          .carousel.slide(id='media-' + tweet.id_str, 'data-ride'='carousel', 'data-interval'='false')
                            .carousel-inner
                              each image, i in tweet.extended_entities.media
                                .item(class=(i === 0 ? 'active' : ''))
                                  img.img-responsive(src=image.media_url_https)

                            if tweet.extended_entities.media.length > 1
                              a.left.carousel-control(href='#media-' + tweet.id_str, role='button', 'data-slide'='prev')
                                span.glyphicon.glyphicon-chevron-left
                              a.right.carousel-control(href='#media-' + tweet.id_str, role='button', 'data-slide'='next')
                                span.glyphicon.glyphicon-chevron-right

                      if tweet.entities.urls
                        each url in tweet.entities.urls
                          != helpers.authorRender.renderVideo(url.expanded_url)


            .tweets(id="links")
              .tweets--header.text-left(id="links")
                .tweets--weekday
                  .h2= "Ссылки"

              each group in helpers.authorRender.getLinks(author.tweets)
                .h3= group.host
                ul.list--links
                  each link in group.links
                    li: a(href=link rel="nofollow")= link

          .col-md-4.hidden-sm.hidden-xs
            .col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1
              #scroll-spy
                ul.nav
                  each weekday in helpers.authorRender.prepareTweets(author.tweets)
                    - var weekdayName = helpers.authorRender.weekday(weekday.weekday);

                    li.tweets--weekday
                      a(href="#" + weekday.weekday)
                        span.tweets--date.text-muted
                          = helpers.authorRender.d(weekday.weekday)
                        span.h3
                          = helpers.authorRender.capitalize(weekdayName)

                  li.tweets--weekday
                    a.h3(href="#links")
                      = " Ссылки"

      - var prev = helpers.authorRender.prevAuthor(author);
      - var next = helpers.authorRender.nextAuthor(author);

      if prev || next
        .container
          hr

          .row
            if prev
              .col-xs-6.text-left
                .h3.author-prev-next
                  = "← "
                  .author-image.author-image--small(style="background-image: url(" + prev.media.image.replace('./', '/') + ");")
                  = " "
                  a(href="/" + prev.authorId)= "@" + prev.username
            if next
              .col-xs-6.text-right(class= !prev ? 'col-xs-offset-6' : '')
                .h3.author-prev-next
                  a(href="/" + next.authorId)= "@" + next.username
                  = " "
                  .author-image.author-image--small(style="background-image: url(" + next.media.image.replace('./', '/') + ");")
                  = " →"
