extend page

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:image"        content=helpers.bust("/image.png"))
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block headerTitle
  span.hidden-xs
    = site.title

block content
  if -1 === authors.indexOf(currentAuthor)
    article
      a.author-wrapper.now-playing(href="https://twitter.com/" + underhood.name)
        span.container
          span.author
            span.author__userpic
            span.author__info
              span.author__headline.small На этой неделе твиттер ведёт
              h2.author__username= "@" + currentAuthor.username
              if currentAuthor.info.location
                span.small
                  span.glyphicon.glyphicon-map-marker
                  = " " + currentAuthor.info.location

  each author in authors
    article.author-list-item
      a.author-wrapper(href="/" + author.authorId + '/' style=!author.media.banner ? "background: #ffefba; background: -webkit-linear-gradient(to bottom, #ffffff, #ffefba);background: linear-gradient(to bottom, #ffffff, #ffefba);" : "background-image: url(" + author.media.banner.replace('./', '/') + ");")
        span.container
          span.author
            span.author__userpic(style=style=author.media.image ? "background-image: url(" + author.media.image.replace('./', '/') + ");" : "background: #0F2027; background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027); background: linear-gradient(to top, #2C5364, #203A43, #0F2027);")
            span.author__info
              span.author__headline.small
                = helpers.authorRender.d(author.tweets[0].created_at)
                != " &ndash; "
                = helpers.authorRender.d(author.tweets[author.tweets.length - 1].created_at)
              h2.author__username= "@" + author.username
              if author.info.location
                span.small
                  span.glyphicon.glyphicon-map-marker
                  = " " + author.info.location
